# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

.fake
.ionide
# Don't upload personal input files. See
# https://old.reddit.com/r/adventofcode/wiki/faqs/copyright/inputs
**/data/day??.txt
